body, button {
    font-family: 'Poppins', sans-serif;
}
.drop-btn {
    padding: 5px 10px;
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.452);
    background-color: var(--white);
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 5px 7px;
    text-decoration: none;
    display: block;
    font-size: small;
  }
  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}



.herobanner {
    position: absolute;
width: 1600px;
height: 245px;
left: 0px;
top: 60px;

background: #3066BE;
}
.career-hero  {
    height: 230px;
    background: #3066BE;
}
.hero-content {
    display:flex;
}

