/* Google Fonts https://fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {

    /* THEME FONTS:
        font-family: 'Outfit', sans-serif;
        font-family: 'Poppins', sans-serif;
    */

    /* Theme Colors */
    --primary: #0E92F2;
    --secondary: #3066BE;
    --tertiary: #B4C5E4;
    --quaternary: #3C3744;
    --quinary: #FBFFF1;

    /* Theme Fonts */
    --poppins: 'Poppins', sans-serif;
    --outfit: 'Outfit', sans-serif;

    /* Shades of white */
    --clean: #fcf8f8;
    --dirty: #dddddd;
    --fade: #e4e4e4;
    --silk: #cacaca;
    --milk: #eeeeee;
    --dark: #353535;
    --grey: #b9b9b9;
    --black: #0e0e0e;
    --title-font-color: #6C84AC;
    --footer-bg-color: #131313;

    --controls-transition: all 0.2s ease-in;
}

* {
    margin: 0;
    box-sizing: border-box;
}


/* Layout Groups */

/* Center all items inside the container */
.centerItems {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fit Image inside the container */
.imageFit {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.split-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}












/* Button Groups */

.btn-plain {
    background-color: var(--dirty);
    outline: none;
    cursor: pointer;
    border: none;
    transition: var(--controls-transition);
    color: var(--dark);
    font-weight: bold;
    font-family: var(--poppins);
    padding: 10px;
    font-size: 16px;
    width: 150px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
}

.btn-plain:hover {
    filter: brightness(110%);
}

.btn-plain:active {
    filter: brightness(90%);
}


.btn-primary {
    background-color: var(--primary);
    outline: none;
    cursor: pointer;
    border: none;
    transition: var(--controls-transition);
    color: var(--clean);
    font-family: var(--poppins);
    padding: 10px;
    font-size: 16px;
    width: 150px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
}

.btn-primary:hover {
    filter: brightness(110%);
}

.btn-primary:active {
    filter: brightness(90%);
}

.btn-secondary {
    background-color: var(--secondary);
    outline: none;
    cursor: pointer;
    border: none;
    transition: var(--controls-transition);
    color: var(--clean);
    font-family: var(--poppins);
    padding: 10px;
    font-size: 16px;
    width: 150px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
}

.btn-secondary:hover {
    filter: brightness(110%);
}

.btn-secondary:active {
    filter: brightness(90%);
}


.btn-tertiary {
    background-color: var(--tertiary);
    outline: none;
    cursor: pointer;
    border: none;
    transition: var(--controls-transition);
    color: var(--dark);
    font-family: var(--poppins);
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
    width: 150px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
}

.btn-tertiary:hover {
    filter: brightness(110%);
}

.btn-tertiary:active {
    filter: brightness(90%);
}



.btn-quaternary {
    background-color: var(--quaternary);
    outline: none;
    cursor: pointer;
    border: none;
    transition: var(--controls-transition);
    color: var(--clean);
    font-family: var(--poppins);
    padding: 10px;
    font-size: 16px;
    width: 150px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
}

.btn-quaternary:hover {
    filter: brightness(110%);
}

.btn-quaternary:active {
    filter: brightness(90%);
}



.btn-quinary {
    background-color: var(--quinary);
    outline: none;
    cursor: pointer;
    border: none;
    transition: var(--controls-transition);
    color: var(--dark);
    font-family: var(--poppins);
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
    width: 150px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    border: 1px solid var(--dark);
}

.btn-quinary:hover {
    filter: brightness(110%);
}

.btn-quinary:active {
    filter: brightness(90%);
}

















/* loader animation */
.skeleton {
    animation-name: skeleton-loader;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes skeleton-loader {
    0% {
        filter: brightness(100%);
    }

    45% {
        filter: brightness(200%);
    }

    100% {
        filter: brightness(50%);
    }
}


<<<<<<< HEAD
=======

/* MAIN HEADER STYLE */

/*Branding*/
.brand-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.brand-container h1 {
    transform: translateY(-5px);
}

/* User-Rounded Profile */
.user_profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid var(--secondary);
    overflow: hidden;
}

.user_profile img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}






header.main-header {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
}


header.main-header .col {
    margin: 0 50px;
}

header.main-header .navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}

header.main-header .navigation-bar .button-collection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

header.main-header .navigation-bar .button-collection button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    background: none;
    color: var(--secondary);
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.search-bar-container .search-bar-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.search-bar-container .search-bar-content .search-bar {
    width: 90%;
    margin-left: 10px;
    padding: 7px 15px;
    font-size: 15px;
    outline: none;
    border-radius: 30px;
    border: 2px solid var(--fade);
}

.search-bar-container .search-bar-content .main-header-btn {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}












/* MAIN FOOTER STYLE */
.main-footer {
    width: 100%;
    padding: 10px;
    background-color: var(--footer-bg-color);
    position: fixed;
    bottom: 0;
    left: 0;
}

.main-footer .upper {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 20px 0;
}

.main-footer .upper .app-details {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.main-footer .upper .app-details ul {
    padding: 0;
    list-style-type: none;
    margin: 0 30px;
}

.main-footer .upper .app-details ul li:first-child {
    color: var(--clean);
    font-family: var(--poppins);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 25px;
}

.main-footer .upper .app-details ul li {
    color: var(--dirty);
    font-family: var(--poppins);
    font-size: 14px;
}

.main-footer .upper .legal-docs {
    padding: 0;
    margin: 0;
}

.main-footer .upper .legal-docs li {
    display: inline-block;
    margin: 0px 15px;
}

.main-footer .upper .legal-docs li a {
    text-decoration: none;
    font-family: var(--poppins);
    font-size: 12px;
    color: var(--tertiary);
}

.main-footer .lower {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

.copyright-details {
    color: var(--tertiary);
    font-family: var(--poppins);
    font-size: 11px;
}
>>>>>>> 2a591fa70f8f23e9900b381213b785379190a6df
